<div id='stars'></div>
	<div id='stars2'></div>
	<div id='stars3'></div>
<div id="welcome_name">
	<h1><span>{{greeting}}</span><br> {{name}}</h1>
</div>
<div id="config_wrapper">
	<h1>I can...</h1>
	<h2> Lift You Up </h2>
	<div class="toggle toggle--neon">
		<input type="checkbox" id="toggle--neon" class="toggle--checkbox">
		<label class="toggle--btn" for="toggle--neon" data-label-on="on"  data-label-off="off"></label>
	</div>
	<h2> Show The Sky</h2>
	<div class="toggle toggle--neon">
		<input type="checkbox" id="toggle--neon" class="toggle--checkbox">
		<label class="toggle--btn" for="toggle--neon" data-label-on="on"  data-label-off="off"></label>
	</div>
	<h2> Keep You Healthy</h2>
	<div class="toggle toggle--neon">
		<input type="checkbox" id="toggle--neon" class="toggle--checkbox">
		<label class="toggle--btn" for="toggle--neon" data-label-on="on"  data-label-off="off"></label>
	</div>
	<h2> And Direct You </h2>
	<div class="toggle toggle--neon">
		<input type="checkbox" id="toggle--neon" class="toggle--checkbox">
		<label class="toggle--btn" for="toggle--neon" data-label-on="on"  data-label-off="off"></label>
	</div>
	<div id="submit">
		<h1>Ready?</h1>
		<a href="#/mirror"><img src="img/submit.png" alt="submit"></a>
	</div>
</div>